html {
    width: 100%;
    font-family: "Microsoft YaHei",-apple-system-font,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}
a, b, body, dd, del, div, dl, dt, em, form,
h1, h2, h3, h4, h5, h6, html, i, iframe,
img, ins, label, legend, li, ol, p, pre,
small, span, strong, u, ul, var, input {
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}
ol,
ul {
    list-style: none;
}
img,button,input {
    border: 0;
}
em, i, u {
    font-style: normal;  /*将字体还原*/
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {   /*清浮动*/
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
body {  /*控制整个body的字体样式*/
    font: 12px/1.5 'microsoft yahei',Arial, Verdana, "\5b8b\4f53";
    /*12像素 1.5行高 微软雅黑的字体 替补字体 */
    color: #666;
}
a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'microsoft yahei';
}
a:hover {
    color: #fed000;
}
/* 版心公共类 */
.container {
    width: 1100px;
    margin: 0 auto;
}
.ml-5 {
    margin-left: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.mt-5 {
    margin-top: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ml-15 {
    margin-left: 15px;
}
.mr-15 {
    margin-right: 15px;
}
.mt-15 {
    margin-top: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.pl-5 {
    padding-left: 5px;
}
.pr-5 {
    padding-right: 5px;
}
.pt-5 {
    padding-top: 5px;
}
.pd-5 {
    padding-bottom: 5px;
}
.pl-15 {
    padding-left: 15px;
}
.pr-15 {
    padding-right: 15px;
}
.pt-15 {
    padding-top: 15px;
}
.pd-15 {
    padding-bottom: 15px;
}
.m-color {  /*文本主色调*/
    color: #000;
}
.m-color2 {
    color: #666;
}
/* 解决图片下面留白的问题 */
img {
    vertical-align: top;
}
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*header 头部*/
.header {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    height: 90px;
    width: 100%;
    background-color: #000;
    transition: height .3s;
}
.header.fixed {
    height: 50px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.3),0 0 6px 2px rgba(0,0,0,.15);
}
.header .logo {
    position: absolute;
    left: 0;
    top: 20px;
    /*margin: 0;*/
    width: 130px;
    /*margin-top: 21px;*/
    height: 45px;
    background:  url(../image/logo-3.png) center no-repeat;
    background-size: cover;
    transition: all .3s;
}
.header .logo h1 {
    font-size: 0;
}
.header .top-tit {
    float: left;
    /*margin-left: 55px;*/
    height: 90px;
    line-height: 90px;
    font-size: 16px;
    transition: margin .3s;
    border-right: 1px solid gray;
}
.header .top-tit a {
    /*margin-left: 10px;*/
    margin: 0 8px 0 4px;
}
.header .top-tit  .iconfont {
    /*margin: 2px;*/
    color: #fed000;
}
.header .top-center {
    position: relative;
    padding: 0 10px;
    height: 90px;
    border-right: 1px solid #666666;
}
.header .top-center ul {
    line-height: 70px;
}
.header .top-center ul li{
    float: left;
    margin: 9px;
    line-height: 75px;
    font-size: 14px;
    color: #d1cbb5;
}
.header .top-center ul li:hover {
    color: #fed000;
}
.header .top-center ul li .part {
    position: relative;
    font-size: 18px;
    line-height: 70px;
    color: #fff;
}
.header .user-wrapper {
    float: left;
    margin-top: 32px;
    transition: margin .3s;
}
.header .user-wrapper .search {
    float: left;
    font-size: 22px;
    width: 25px;
    margin-top: -8px;
    margin-right: 10px;
    text-align: center;
}
.header .user-wrapper .callus {
    float: left;
    /*width: 300px;*/
}
.callus .iconfont {
    font-size: 20px;
    line-height: 24px;
}
/*二维码*/
.callus .icon-weixin,
.callus  .icon-weibofangxing,
.callus  .icon-QQ {
    position: relative;
}
.callus .erweima,
.callus .weibo,
.callus .qq{
    display: none;
    width: 190px;
    height: 190px;
    position: absolute;
    top: 35px;
    left: 0;
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.header .user-wrapper .callus ul li {
    float: left;
    margin: 0 14px;
    font-size: 14px;
}
.header .links {
    margin-top: 32px;
}
.slide-down-container {
    font-size: 12px;
    position: relative;
    z-index: 100;
    float: left;
    margin-right: 20px;
}
.slide-down-container .title {
    position: relative;
    cursor: pointer;
    padding-bottom: 10px;
}
.slide-down-container .title .title-span {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.slide-down-container .title span {
    position: relative;
    vertical-align: middle;
}
.login-wrap {
    font-size: 12px;
    margin-left: 4px;
}
.header .links {
    margin-top: 32px;
}
.header .links, .header .user-wrapper {
    float: right;
    transition: margin .3s;
}
#wrap {
    width: 100%;
}
.cls {
    width: 70%;
    margin: 100px auto 0px auto;
}
.header.fixed .links, .header.fixed .user-wrapper {
    margin-top: 15px;
}
.header.fixed .logo {
    background-image: url(../image/logo-3.png);
    width: 125px;
    height: 70px;
    margin-top: 10px;
    transition: margin .3s;
}
.header.fixed .top-tit,
.header.fixed .top-center {
    margin-top: -20px;
    overflow: hidden;
    height: 70px;
    transition: margin .3s;
}
.to-top {
    cursor: pointer;
    display: none;
    position: fixed;
    bottom: 80px;
    left: 92%;
}
.to-top .iconfont {
    font-size: 50px;
}
/*全部分类*/
.part-main {
    display: none;
    position: fixed;
    margin: 0 auto;
    margin-top: 53px;
    width: 1100px;
    left: 125px;
}
.p-top {
    height: 10px;
    background-color: transparent;
}
.p-down {
    background-color: #000;
}
.p-down .p-c {
    width: 750px;
    height: 150px;
    margin: 0 auto;
}
.p-down ul {
    padding: 0 25px;
}
.p-down li {
    float: left;
    height: 40px;
    width: 120px;
    text-align: center;
}
.p-down li a {
    float: left;
    line-height: 70px;
    font-size: 14px;
}
.p-down li span {
    padding: 0 5px ;
}
.hidden {
    display: none;
}
.show {
    display: block;
}

/*点击搜索跳出弹出框*/
.search-header {
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
}
.search-tan {
    width: 680px;
    height: 480px;
    position: absolute;
    border: #ebebeb solid 1px;
    left: 50%;
    right: 50%;
    background: #ffffff;
    box-shadow: 0px 0px 20px #ddd;
    z-index: 9999;
    margin-left: -340px;
    margin-top: 80px;
    display: none;
}
.search-title {
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
    position: relative;
    cursor: move;
    color: black;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}
/* 文字不能选中 */
.search-input-content {
    margin-top: 20px;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}
.search-input {
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    margin-left: 30px;
    /*margin: 0px 0px 20px 0px;*/
}
.search-input .input-main {
    width: 540px;
    height: 40px;
    /*去除文本框默认边框*/
    outline: medium;
    padding-left: 10px;
    border:1px solid #fed000;

}
.search-input .btn-icon {
    height: 40px;
    width: 40px;
    position: relative;
    right: 46px;
    top: -1px;
    background-color: #fff;
}
.search-input .btn-icon .iconfont {
    width: 50px;
    height: 50px;
}
.search-tan .search-button {
    width: 580px;
    margin: 45px auto 0px auto;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    /* 浏览器兼容性*/
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}
.search-tan .search-button p {
    position: relative;
    left: -43%;
}
.search-tan .search-button .all-search {
    width: 580px;
    height: 200px;
    border-top: #fed000 1px solid;
}
.search-button .all-search ul {
    float: left;
    margin-top: 15px;
}
.search-tan .search-button .all-search ul li {
    /*float: left;*/
    width: 135px;
    text-align: left;
    padding-left: 5px;
    margin-left: 1px;
    font-size: 15px;
}
.search-bg {
    width: 100%;
    height: 100%;
    position: fixed;  /* 有滚动条也有遮盖效果 */
    top: 0px;
    left: 0px;
    background: #000000;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    display: none;
}
.search-button a {
    display: block;
}
.search-input input.list-input {
    float: left;
    line-height: 35px;
    height: 35px;
    width: 350px;
    border: #ebebeb 1px solid;
    text-indent: 5px;
}
.search-input label {
    float: left;
    width: 90px;
    padding-right: 10px;
    text-align: right;
    line-height: 35px;
    height: 35px;
    font-size: 14px;
}
.search-title span {
    position: absolute;
    font-size: 12px;
    right: -20px;
    top: -30px;
    background: #ffffff;
    border: #ebebeb solid 1px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/*底部 footer*/
footer {
    margin-top: 20px;
    height: 330px;
    width: 100%;
    background-color: #000;
}
.footer-t {
    /*height: 250px;*/
}
.footer-t .foot-l {
    float: left;
    width: 800px;
    height: 250px;
}
.footer-t .foot-l ol{
    float: left;
    margin-top: 15px;
    line-height: 30px;
    width: 160px;
    font-size: 14px;
}
.footer-t .foot-l ol li:first-child {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}
.footer-t .foot-l ol li a {
    color: #d1cbb5;
}
.footer-t .foot-l ol li .acolor {
    color: #fed000;
}
.footer-t .foot-l ol li a:hover {
    color: #fed000;
}
.footer-t .foot-r {
    float: right;
    width: 300px;
    height: 250px;
}
.footer-d {
    height: 80px;
    background-color: #191919;
}
.foot-r {
    position: relative;
}
.foot-r .foot-search-box {
    /*width: 260px;*/
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%,-50%);
    background: #fed000;
    height: 25px;
    border-radius: 50px;
    padding: 10px;
}
.footer-search-btn {
    color: #fff;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fed000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.footer-search-txt {
    width: 0px;
    border : none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 14px;
    transition: 0.4s;
    line-height: 25px;
}
.foot-search-box:hover > .footer-search-txt {
    width: 260px;
    padding: 0 6px;
    color: black;
}
.foot-search-box:hover > .footer-search-btn {
    position: relative;
    top: -25px;
    background-color: #fed000;
    color: black;
}
.foot-box-d {
    width: 150px;
    height: 140px;
    position: relative;
    top: 30%;
    left: 70px;
    background: url(../Updown/weixin.gif) center no-repeat;
    background-size: cover;
}
.footer-d .footer-bottom {
    font-size: 14px;
    text-align: center;
    line-height: 80px;
}
.footer-d .footer-bottom p {
    color: #d1d1d1;
}






